@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

p, a {
  font-family: 'Neuton', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alumni Sans Inline One', sans-serif;
  font-weight: normal;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  display: flex;
  align-items: center;  /* Ensure all content is aligned vertically */
  text-align: center;
}

.header {
  margin-right: 50px;
  color: rgb(235, 229, 229);

}

.header h1 {
  font-size: 3rem;
  font-family: 'Alumni Sans Inline One', sans-serif;
}

.header p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  font-family: 'Neuton', serif;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login input {
  padding: 10px;
  font-size: 1em;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  box-sizing: border-box;
}

.login button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: rgb(235, 229, 229);
  color: black;
  border-radius: 10%;
  cursor: pointer;
}

.login p {
  margin-top: 20px;
  font-size: 1rem;
  text-align: center;
  color: rgb(235, 229, 229);

}

.escudo {
    max-width: 100%;
    height: auto;
    display: block;
}

@media screen 
and (max-width: 768px){
    .container{
        display: block;
    }
    .content{
        display: block;
    }
    body{
        display: block;
    }
    .header{
        margin-right: 0px;
    }

}